:root{
    --cor-de-fundo:#00030C;
    --botao-azul: #167BF7;
    --branco-descricao: #FFFFFF;
    --cinza-descricao:#C0C0C0;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #70a7e9;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-descricao);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 16px;
    display: block;
    text-decoration: none;
    color: var(--branco-descricao);
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-descricao);
}

.container__aviso{
    color: var(--cinza-descricao);
    font-size: 12px;
}

.container__caixa{
    margin: 0 6em;
}

.container__image{
    margin: 1em 0 2em 0;
}

.secundario__imagem {
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 6em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
}

.descricao__texto{
    font-size: 16px;
    color: var(--cinza-descricao);
    margin-top: 0.1em;
}

.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    margin: 5em 0;
    list-style-type: none;
    justify-content: center;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-descricao);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-descricao);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex ;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
    font-size: 16px;
}

.rodape__texto{
    font-size: 14px;
    margin:1em 0;
    color: var(--cinza-descricao);
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
}

.lista__link:hover{
    color: var(--botao-azul);
}